@media all and (max-width: 768px)
{

main > aside {

	width: 100%;
}

main {

	width: 100%;
	max-width: 100%;
}

main > article{
	width: 100%;
	padding: 0 15px;
	text-align: justify;
}

.contact {  
   	padding-bottom: auto;
}

.apropos {
	padding-bottom :40%;
}

.formation, 
.expe_pro{

    display: flex;
    flex-wrap: wrap;
}

.date_formation, 
.date_expe_pro{

	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#formation,
#expérience_professionnelles {

  	margin-bottom: 0 0 0 0;
}
  
#formation,
#expérience_professionnelles {

  	margin-bottom: 40px;
} 

.recomm
{
   flex-wrap: wrap;
    
}

}





